/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --accent-color: #00a4e5;
  --primary-text-color: #48555b;
  --backgroung-white-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.1875px;
  color: var(--primary-text-color);
  background-color: var(--backgroung-white-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.logo {
  width: 101.62px;
  height: 23px;
}

.logo-black {
  display: inline-block;
  width: 79.53px;
  height: 18px;
}

.header {
  max-width: 1438px;
  height: 769px;
  background-color: var(--accent-color);
  background-image: url(../images/bg.jpg);
  color: var(--backgroung-white-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/bg@2x.jpg);
  }
}

.header__container {
  padding-top: 41px;
  padding-bottom: 71px;
  height: 769px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  line-height: 1.17;
  letter-spacing: 5.70937px;
}

.header__paragraph {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
}

.header__scroll {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 3.7px;
}

.navigation {
  border-bottom: 1px solid #e6e6e6;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
}

.navigation__link-logo {
  padding-top: 24px;
  padding-bottom: 14px;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 48px;
}

.navigation__link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1.09091px;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */